.theme-one {
    --background-color: #d8dee9;
    --banner-color: #81a1c1;
    --form-font-color: #4c566a;
    --form-background-color: #eceff4;
    --form-border-color: #88c0d0;
    --primary-font-color: #434c5e;
    --footer-font-color: #e5e9f0;
    --primary-card-color: #4c566a;
    --secondary-card-color: #3b4252;
}

::selection {
    background: #88c0d0; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #88c0d0; /* Gecko Browsers */
}

html {
    font-size: 24px;
    font-family: "Mali", cursive;
    overflow-x: hidden;
    text-align: center;
    margin: 0px;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    margin: 0px;
    flex-direction: column;
}

a {
    color: var(--background-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

header {
    background-color: var(--banner-color);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72px;
    height: 9.9vh;
    width: 100vw;
}

#title {
    /* font-size: 62px; */
    font-size: 2.3333rem;
    font-weight: 1000;
    color: var(--form-background-color);
}

/* Main */

main {
    flex: 1 0 auto;
    margin-top: 12vh;
}

/* Form */

input[type="text"] {
    font-family: "Mali", cursive;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    max-width: 420px;
    width: 95%;
    max-height: 40px;
    min-height: 30px;
    height: 5vh;
    border: solid;
    color: var(--form-font-color);
    border-color: var(--form-border-color);
    background-color: var(--form-background-color);
    border-radius: 20px;
    border-width: 2px;
}

input[type="text"]:focus {
    border-color: var(--banner-color);
    border-width: 3px;
    padding: 0px;
    outline: none;
}

label {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: var(--form-font-color);
    padding-bottom: 4px;
}

#content-container label {
    border-bottom: 2px solid var(--form-font-color);
}

#date-container label {
    border-bottom: 2px solid var(--form-font-color);
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 0px;
}

/* Data */

section[hidden] {
    display:none !important;
}

#content-container{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--primary-font-color);
    text-transform: capitalize;
}

#data-container {
    display: flex;
    min-width: min-content;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    font-size: 32px;
}

#date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 260px;
    flex-basis: 33.33%;
    min-height: 10vh;
    padding-bottom: 20px;
}

#weather-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#icon {
    margin-top: 24px;
    font-size: 80px;
}

.Date {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 25px;
}

.error {
    color: var(--primary-font-color);
    font-size: 28px;
    font-weight: 700;
}

/* Footer */

footer {
    background-color: var(--banner-color);
    color: var(--banner-color);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    height: 6vh;
    width: 100vw;
}

.footer {
    font-weight: 500;
    font-size: 12px;
    color: var(--footer-font-color);
}

/* Media Queries */

@media screen and (max-width: 600px) {
    #content-container {
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
    }
    
    #data-container {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 70%;
    }

    #title {
        font-size: 1.75rem;
    }

    main {
        margin-top: 5vh;
    }

    header {
        min-height: 48px;
        height: 7vh;
    }

    .data {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 440px) {
    #title {
        font-size: 1.1666rem;
    }
}
