html, body {
    overflow: hidden;
}

main {
    margin-top: 25vh;
}

body {
    background-color: #d8dee9;
}

header {
    background-color: #81a1c1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    width: 100%;
}

footer {
    background-color: #81a1c1;
    color: #81a1c1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    width: 100%;
}

input[type="text"] {
    font-family: "Mali", cursive;
    font-weight: lighter;
    text-align: center;
    font-size: larger;
    width: 420px;
    height: 40px;
    border: solid;
    color: #4c566a;
    border-color: #88c0d0;
    background-color: #eceff4;
    border-radius: 20px;
    border-width: 2px;
}

input[type="text"]:focus {
    font-family: "Mali", cursive;
    font-weight: lighter;
    text-align: center;
    font-size: larger;
    width: 420px;
    height: 40px;
    border: solid;
    color: #4c566a;
    border-color: #81a1c1;
    background-color: #eceff4;
    border-radius: 20px;
    border-width: 3px;
    margin-top: -2px;
}

label {
    font-family: "Mali", cursive;
    display: block;
    font-weight: 700;
    font-size: large;
    color: #4c566a;
    padding-bottom: 4px;
}

a {
    color: #d8dee9;
    text-decoration: none;
}

#title {
    font-family: "Mali", cursive;
    font-size: 50px;
    font-weight: 1000;
    color: #eceff4;
    text-align: center;
    margin-top: 15px;
}

#footer {
    font-family: "Mali", cursive;
    font-weight: 500;
    font-size: 13px;
    color: #e5e9f0;
    text-align: center;
    margin-top: 12px;
}

#footer2 {
    font-family: "Mali", cursive;
    font-weight: 500;
    font-size: 12px;
    color: #e5e9f0;
    text-align: center;
    margin-top: -12px;
}

#data {
    font-family: "Mali", cursive;
    color: #434c5e;
    text-align: center;
}

#icon {
    margin-top: 24px;
    text-align: center;
    font-size: 80px;
}

.form {
    text-align: center;
}

.Date {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Location {
    display: inline;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 700;
    margin-right: 20px;
}

.Temperature {
    display: inline;
    font-size: xx-large;
    margin-right: 20px;
    font-weight: 700;
}

.Weather {
    display: inline;
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: 700;
}

.error {
    font-family: "Mali", cursive;
    color: #434c5e;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}
